{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Join Event
{% endblock title %}

{% block content %}

<div class="card  mt-3">
    <div class="card-header">
          <h4>Join Event</h4>
    </div>
        <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Join</button>
            </form>
        </div>
</div>
      
    
{% endblock content %}